
/* Estilos para o corpo da página */
body {
  font-family: Arial, sans-serif; /* Define a fonte a ser usada no corpo da página */
  background-color: #00235B; /* Define a cor de fundo do corpo da página */
  color: #E21818; /* Define a cor do texto no corpo da página */
  margin: 0; /* Define as margens do corpo da página como zero */
  padding: 0; /* Define o padding (espaçamento interno) do corpo da página como zero */
}

/* Estilos para o cabeçalho */
h1 {
  text-align: center; /* Centraliza o texto do cabeçalho */
  margin-top: 50px; /* Define a margem superior do cabeçalho como 50 pixels */
}

/* Estilos para o parágrafo de introdução */
p {
  text-align: center; /* Centraliza o texto do parágrafo */
  font-size: 18px; /* Define o tamanho da fonte do parágrafo como 18 pixels */
  margin-top: 20px; /* Define a margem superior do parágrafo como 20 pixels */
}

/* Estilos para a imagem do aluno */
img {
  display: block; /* Define a imagem como um bloco, permitindo que seja centralizada */
  margin: 0 auto; /* Define as margens horizontal da imagem como zero e a margem vertical como automática, para centralizar a imagem */
  max-width: 100%; /* Limita a largura máxima da imagem a 100% da largura do seu contêiner */
  height: auto; /* Define a altura da imagem como automática, para manter a proporção da imagem */
  border-radius: 50%; /* Cria bordas arredondadas na imagem, dando a ela um formato circular */
  box-shadow: 0px 0px 10px #888888; /* Adiciona uma sombra à imagem */
  width: 400px; /* Define o tamanho da largura da imagem*/
  height: 300px; /* Define o tamano da altura da imagem */
}